body {
	background: #000;
	height: 90vh; 
}
body * {
	/*color:#FFF;*/

}
.container {
	margin: 0 auto;
	text-align: center;
}
#videoStream { 
    background-color: #000;
}

  #container {
  	margin: 0 auto;
 	position: relative;
 	text-align: center;


 }

 .hidden {
 	display:none;
 }

.slide-controls input { 
	color: #000;
}
.slide-controls {
	padding:10px;
	text-align:center;
	position: fixed;
	bottom:0px;
	left:0;
	width:100%;
	z-index: 999;
	background: #666;

}

img.dongle {
	width:100%;
	height:auto;
	

	z-index:999;
}

.transparent {
	opacity:0.5;
	position: absolute;
	left:0;
	top:0;
}
 #overlay, #webgl {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	-o-transform : scaleX(-1);
 	-webkit-transform : scaleX(-1);
 	transform : scaleX(-1);
 	-ms-filter : fliph; /*IE*/
 	filter : fliph; /*IE*/
 	z-index:999;
 	 
 	
 }


.normal {
 	-o-transform : scaleX(-1);
 	-webkit-transform : scaleX(-1);
 	transform : scaleX(-1);
 	-ms-filter : fliph; /*IE*/
 	filter : fliph; /*IE*/
 }

.mirrorX {
	-o-transform : scaleX(1) !important;
 	-webkit-transform : scaleX(1) !important;;
 	transform : scaleX(1) !important;;
 	-ms-filter : none !important;; /*IE*/
 	filter : none !important;; /*IE*/
}
.mirrorY {
	-o-transform : scaleY(-1);
 	-webkit-transform : scaleY(-1);
 	transform : scaleY(-1);
 	-ms-filter : flipv; /*IE*/
 	filter : flipv; /*IE*/
}



























